<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sr/a {{direccion_envio.cliente}} su pedido se ha realizado con éxito.</h1>
    <h3>En pocos días recibira su pedido en:</h3>
    <p><strong>Dirección: </strong>{{direccion_envio.direccion}}</p>
    <p><strong>Ciudad: </strong>{{direccion_envio.ciudad}}</p>
    <p><strong>CP: </strong>{{direccion_envio.codigo_postal}}</p>
    <p><strong>Provincia: </strong>{{direccion_envio.estado}}</p>
    <h3>Gracias por confiar en el calzado de BERNINI</h3>
</body>
</html>